---
apiVersion: v1
metadata:
  name: {{ tna_cluster_name }}
baseDomain: {{ tna_base_domain }}
controlPlane:
  architecture: amd64
  name: master
  replicas: 2
  platform: {}
arbiter:
  architecture: amd64
  name: arbiter
  replicas: 1
  platform: {}
compute:
  - architecture: amd64
    name: worker
    replicas: 0
    platform: {}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  serviceNetwork:
    - 172.30.0.0/16
  machineNetwork:
    - cidr: {{ tna_machine_cidr }}
platform:
  none: {}
pullSecret: '{{ tna_pull_secret | to_json if tna_pull_secret is mapping else tna_pull_secret }}'
sshKey: '{{ tna_ssh_key }}'
